@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Tilt+Prism&display=swap');

.main {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // padding: 6rem;
  // padding-left: calc(15% + 100px);
  // padding-right: calc(15% + 100px);
  min-height: 100vh;

  padding-top: calc(2rem + 40px);

  background: linear-gradient(to bottom, rgb(2, 2, 23), rgb(0, 0, 102));
  
}

.diaryNav {
  position: fixed;
  bottom: 7rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  padding: 1rem;
  // padding-top:1.2rem;
  background: linear-gradient(aqua, rgb(60, 122, 255));
  transition: 0.2s;
  z-index: 3;
}

.diaryNav:hover,
.diaryNav:focus {
  background: linear-gradient(rgb(45, 210, 255), rgb(140, 177, 255));
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0777d9,
    0 0 0.8rem #0777d9, 0 0 2.8rem #0777d9, inset 0 0 1.3rem #0777d9;
  filter: contrast(2);
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #999, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0777d9,
      0 0 80px #0777d9, 0 0 90px #0777d9, 0 0 100px #0777d9, 0 0 150px #0777d9;
  }
  0% {
    text-shadow: 0 0 4px #999, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #0777d9,
      0 0 73px #0777d9, 0 0 80px #0777d9, 0 0 94px #0777d9, 0 0 140px #0777d9;
  }
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  user-select: none;

  & > h1 {
    font-family: 'Tilt Prism', cursive;
    text-shadow: 0 0 7px #999, 0 0 10px #eee, 0 0 21px #eee, 0 0 42px #0777d9,
      0 0 82px #0777d9, 0 0 92px #0777d9;
    //  0 0 102px #0777D9,
    //  0 0 151px #0777D9;

    // animation: pulsate 0.11s ease-in-out infinite alternate;
    // border:0.2rem solid #fff;
    // border-radius:2rem;
    // padding:0.4em;
    // box-shadow: 0 0 .2rem #fff,
    //             0 0 .2rem #fff,
    //             0 0 2rem #0777D9,
    //             0 0 0.8rem #0777D9,
    //             0 0 2.8rem #0777D9,
    //             inset 0 0 1.3rem #0777D9;
  }
}

.diarySection {
  margin: 2rem auto;
  margin-top: 10px;
  width: 100%;
  // height: 500px;

  border-top: 0.05rem solid rgb(42, 131, 225);
  border-bottom: 0.05rem solid rgb(42, 131, 225);
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0777d9,
  //   0 0 0.8rem #0777d9, 0 0 2.8rem #0777d9, inset 0 0 1.3rem #0777d9;
  overflow: hidden;
}

.diarySectionTitle {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  & > input[type='month'] {
    width: 150px;
    height: 100%;
    margin: 0;
    color: black;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
  }
}

.btDiv {
  position: relative;
  width: 100%;
  height: 0;
  // background-color: aqua;
  display: flex;
  // grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btleft {
  width: 2rem;
  height: 2rem;
  background: rgb(1, 9, 16);
  border: 0.05rem solid #eee;
  border-radius: 1rem;
  padding-bottom: 0.2rem;
  padding-right: 0.1rem;
  position: relative;
  left: -50px;
  top: 200px;
  transition: 0.2s;

  &:hover,
  &:focus {
    background: linear-gradient(aqua, rgb(60, 122, 255));
  }
}

.btright {
  width: 2rem;
  height: 2rem;
  background: rgb(1, 9, 16);
  border: 0.05rem solid #eee;
  border-radius: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.1rem;
  position: relative;
  right: -50px;
  top: 200px;
  transition: 0.2s;

  &:hover,
  &:focus {
    background: linear-gradient(aqua, rgb(60, 122, 255));
  }
}

.caroselWrapper {
  width: 100%;
  height: 80%;
  max-height: 415px;
  display: grid;
  place-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  transition: 0.3s;
  margin-left: -8px;
}

.caroselItem {
  margin: 0.5rem;
  width: 100%;
  // min-width: 500px;
  height: 100%;
  // background-color: rgb(83, 83, 83);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  align-items: center;

  &:hover {
    & > .caroselDiary,
    & > .caroselMusic {
      filter: brightness(120%) opacity(90%);
      background: linear-gradient(#16142f, rgb(60, 122, 255));
    }
  }
}

.caroselDiary {
  background-color: rgba(6, 11, 11, 0.205);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 1.5rem;
  padding-right: 0;
  max-height: 400px;
  overflow: auto;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #0777d9, 0 0 2rem #0777d9;
  transition: 0.3s;
  // display: grid;
  // justify-items: center;
  // justify-content: center;

  &::-webkit-scrollbar {
    visibility: hidden;
  }
}

.caroselMusic {
  background-color: rgba(6, 11, 11, 0.205);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 1rem;
  max-height: 400px;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #0777d9, 0 0 2rem #0777d9;
  transition: 0.3s;

  display: grid;
  justify-content: center;

  & > .cdBG {
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    background: linear-gradient(aqua, blue);
    border: 0.25rem solid #eee;
    margin-bottom: 10px;
  }

  & > .cdBG::before {
    display: block;
    content: '';
    width: 5rem;
    height: 5rem;
    margin: 2.75rem;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
  }

  & > .musicBar {
    background: #0777d9;
    height: 2rem;
    margin-bottom: 5px;
  }

  & > .musicUIBar {
    background: #0777d9;
    height: 4rem;
  }
}

.diaryList {
  height: 500px;
}

.writeDiv {
  // width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;

  & > .musicBindDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 98%;
    // margin-top: 1.75rem;
    // grid-gap: 6px;
  }

  .musicSelect {
    width: 100%;
    height: 100%;
    padding: 8px;
    padding-bottom: 15px;
    // min-height: 270px;
    // min-width: 270px;
    // max-height: 270px;
    // max-width: 270px;

    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    background-color: #2b2d31;
    justify-items: center;
    white-space: nowrap;

    border-left: 8px solid #2b2d31;
    border-right: 8px solid #2b2d31;

    & > p {
      // font-size: calc(10px + 0.5vw);

      padding-bottom: 3px;
    }

    & > div {
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
  }

  .musicSelect:hover,
  .musicSelect:focus {
    background-color: #4d5a5f;
    border-color: #4d5a5f;
    box-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255),
      0px 0px 9px rgb(6, 26, 138), 0px 0px 12px rgb(4, 53, 117);
  }
}

/* Mobile */
@media (max-width: 860px) {
  .main {
    // padding-left: 4rem;
    // padding-right: 4rem;
    // padding-top: calc(1rem + 40px);
  }

  .caroselWrapper {
    // margin-left: 20px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 482px;
    max-height: 482px;
  }

  .caroselItem {
    width: 100%;
    height: 100%;
    min-width: 200px;
    grid-template-columns: 1fr;
    grid-gap: 0px;

    &:hover {
      & > .caroselDiary,
      & > .caroselMusic {
        filter: brightness(120%) opacity(90%);
        background: linear-gradient(to right, #16142f, rgb(60, 122, 255));
      }
    }
  }

  .caroselDiary {
    max-height: 250px;
    min-height: 250px;
  }

  .caroselMusic {
    max-height: 215px;
    min-height: 215px;
    overflow: hidden;

    & > .cdBG {
      margin-bottom: 30px;
    }
  }

  .writeDiv {
    grid-template-columns: 1fr;
    // background-color: red;

    & > .musicBindDiv {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      display: grid;
      height: fit-content;
      // max-height: 100px;
      grid-gap: 10px;
      & > .musicSelect {
        min-height: 100px;
        min-width: 100px;
        // width: 20vw;
        height: 100%;
        & > p {
          // font-size: 16px;
        }

        & > div {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 861px) and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // padding: 6rem;
    // padding-top: calc(2rem + 40px);
    // padding-left: calc(100px);
    // padding-right: calc(100px);
    min-height: 100vh;
  }
}

@media (max-width: 1600px) {
  .caroselWrapper {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
