.btn{
  transition: 0.2s;
  &:hover{
    filter:drop-shadow(0 0 3px white) drop-shadow(0 0 6px rgb(0, 30, 199)) brightness(1.2);
  }
}

.cdBG {
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  // background: linear-gradient(aqua, blue);
  border: 0.25rem solid #eee;
  margin-bottom: 10px;
}

.cdBG::before {
  display: block;
  content: '';
  width: 5rem;
  height: 5rem;
  margin: 2.75rem;
  border-radius: 100%;
  background-color:rgba(6, 11, 11, 0.205);
  border: 2px solid #e7e7e7;
}


@media (max-width: 860px) {

  .cdBG {
    margin-bottom: 30px;
  }
}
