.navBgDiv {
  background-color: rgb(4, 4, 12);
  color: #eeeeee;
}

.navSection {
  // margin-left: 10%;
  grid-column-gap: 2vw;
}

.musicDesc {
  width: 260px;
  overflow-x: hidden;
  white-space: nowrap;

  & > div {
    width: fit-content;
    animation: bannermove 5s linear infinite;
  }
}

@keyframes bannermove {
  0% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(-60%, 0);
  }
}

.timeBar {
  display: flex;
}

.Back {
  background-image: url('../../public/buttons/BackTrack.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.Play {
  background-image: url('../../public/buttons/PlayTrack.png');
  background-repeat: no-repeat;
  background-size: contain;
  // margin-left: 10px;
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.Pause {
  background-image: url('../../public/buttons/Pause.png');
  background-repeat: no-repeat;
  background-size: contain;
  // margin-left: 10px;
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.Fast {
  background-image: url('../../public/buttons/FastTrack.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.rightIconDiv {
  position: fixed;
  right: 1.75rem;
}

.alarmBtn {
  background-image: url('../../public/buttons/Alarm.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s;
  &:hover {
    filter: drop-shadow(0px 0px 2px #eeeeee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.Btn {
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.friendBtn {
  background-image: url('../../public/buttons/Friends.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s;

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.sideBgDiv {
  color: #eeeeee;
  background-color: rgb(3, 3, 14);
  position: fixed;
  width: 12%;
  min-width: 185px;
  height: 100vh;
  z-index: 22;
}

.logoDiv {
  margin: 10%;
  width: 80%;
  height: 4vw;
  // height: 80px;
  // min-height: 50px;
  background-image: url('../../public/images/Logo/TideLogoFinal.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.searchBox {
  $s: &;
  margin: 10%;
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #4e4a4a;
  border-radius: 20px;
  transition: 0.3s;
  // overflow-x: hidden;

  &:hover,
  &:focus {
    box-shadow: 0 0 2px #eeeeee, 0 0 4px #eeeeee, 0 0 8px #2969d8;
  }

  & > form > input[type='text'] {
    width: 70%;
    background-color: #4e4a4a;
    border-radius: 20px;
    color: #8a8a8a;
    content: '';

    &:focus {
      outline: none;
    }
  }

  & > form > button {
    // background-color: red;
    padding: 6px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-image: url('../../public/buttons/Search.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px;
    margin-left: 12px;
  }
}

.profileIcon {
  width: 40px;
  height: 40px;
  background-image: url('../../public/buttons/Profile.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.diaryIcon {
  width: 40px;
  height: 40px;
  background-image: url('../../public/buttons/Diary.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.playlistIcon {
  width: 40px;
  height: 40px;
  // min-width: 40px;
  background-image: url('../../public/buttons/Playlist.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.messageIcon {
  width: 40px;
  height: 40px;
  background-image: url('../../public/buttons/Messege.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.MenuDiv {
  align-items: center;
  & > div > p {
    margin-bottom: 10px;
    white-space: nowrap;
  }

  &:hover {
    filter: drop-shadow(0px 0px 2px #eee)
      drop-shadow(0px 0px 5px rgb(141, 160, 255))
      drop-shadow(0px 0px 10px rgb(23, 45, 93));
  }
}

.topBgDiv {
  display: none;
}

.recordMenuDiv {
  display: none;
}

@media (max-width: 500px) {
  .navSection {
    grid-column-gap: 20px;
  }

  .albumImg {
    width: 4rem;
    height: 4rem;
  }

  .musicDesc {
    width: 8rem;
    overflow-x: hidden;
    white-space: nowrap;
    & > p:nth-child(1) {
      font-size: 20px;
    }

    & > p:nth-child(2) {
      font-size: 16px;
    }
  }

  .timeBar {
    display: none;
  }

  .playBar {
    column-gap: 6px;
    & > div {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .sideBgDiv {
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 860px) {
  .navSection {
    grid-column-gap: 20px;
  }

  .timeBar {
    display: none;
  }

  .sideBgDiv {
    display: none;
  }
}

@media (max-width: 1200px) {
  .rightIconDiv,
  .sideBgDiv {
    display: none;
  }

  .topBgDiv {
    position: fixed;
    z-index: 11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 40px;
    background-color: rgb(3, 3, 14);
    align-items: center;
    justify-items: center;

    & > .rightIconDiv {
      display: flex;
      grid-column-gap: 11px;
    }
    & > .searchBox {
      margin: 4px;
      max-width: 200px;
      min-width: 120px;
      width: 80%;
      height: 32px;
      white-space: nowrap;
      background-color: #4e4a4a;
      display: flex;
      justify-content: left;
      overflow: hidden;
      // overflow-x: hidden;

      & > form {
        display: flex;
        align-items: center;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 2px #eeeeee, 0 0 4px #eeeeee, 0 0 8px #2969d8;
        transform: translate(35%);
        min-width: 280%;
        z-index: 22;
        & > form > input[type='text'] {
          min-width: 500%;
          position: relative;

          &:focus {
            outline: none;
          }
        }

        & + .logoDiv {
          visibility: hidden;

        }

        & + .logoDiv + .rightIconDiv {
          visibility: hidden;
        }
      }

      & > form > input[type='text'] {
        // padding: 6px;
        // width: 70%;
        // height: 0px;
        background-color: #4e4a4a;
        // border-radius: 20px;
        color: #8a8a8a;

        &:focus {
          outline: none;
        }
      }

      & > form > button {
        // background-color: red;
        // padding:6px;
        width: 20px;
        height: 20px;
        background-image: url('../../public/buttons/Search.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 8px;
        // margin-bottom: 10px;
      }
    }

    & > .logoDiv {
      margin: 0;
      margin-top: 4px;
      min-width: 100px;
      max-height: 100px;
      max-height: 32px;
      min-height: 32px;
      background-position: center;
    }
  }

  .recordMenuDiv {
    display: flex;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 2px #eeeeee, 0 0 4px #eeeeee, 0 0 16px #d8294c,
        0 0 32px #d8294c;
    }
  }
}


.playBar{

  display: flex;
  align-items: center;

  & > input[type="range"] {
      overflow: hidden;
      -webkit-appearance: none;
      margin: 10px 0;
      // width: 100%;
      background: #4a4a4a;;
  }

  
  & > input[type="range"]:focus {
	outline: none;
}  

  & > input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid #4a4a4a;
  }

  & > input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0px;
      height: 0px;
      background: #347bff;
      box-shadow: 1px 1px 7px #4a4a4a;
      cursor: pointer;
      box-shadow: -100vw 0 0 100vw #347bff;
  }
}